body {
    background-color: rgb(18, 19, 17);

}

a{
    color: rgba(226, 188, 21, 0.89);
    text-decoration: none;
    
}
a:hover{
    color:rgb(247, 189, 43);
    text-decoration: underline;
}

.h_n{
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    
    display:flex;
    flex-wrap: nowrap;
    background-color: rgb(0, 0, 0);
    width: 99%;
    height: 40px;
    text-align: center;
    font-size: 25px;
    justify-content: center;
    justify-content: space-around;
    position:fixed;
    margin-top: -20px;
}
.wele{
    display: inline-block;
    
    height: 300px;
    width: 100%;
    padding-bottom: 0px;
    padding-right: 0px;
    
    
}
.f{
    
    border: 10px solid;
    border-color: red;
}
/*style shafshafa*/
.container{
    padding-top: 7%;
    text-align: center;
}
.quick{
    text-align: left;
}
/* شعار الجامعة كرابط */
.custom-logo{
    width:10%;
    height:10%;
}
/*فقرة نص معلومات عن الجامعة */
.pre{
    justify-content: right;
    text-align: right;
    font-size: 120%;
    color: rgb(247, 189, 43);
    padding: 0px;
    margin: 0px;
}
/*ال div  الخاصة بمعلومات عن الجامعة */
.div_un{
    border: rgb(236, 217, 203) 2px solid;
    padding: 25px;
    margin: 80px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(9, 10, 83, 0.815);
    
}
.site-title{
    font-size: 150%;
}
.h1a{
    color: saddlebrown;
}
.site-description {
    font-size: 150%; 
    color: saddlebrown;
}
.Ab_us_pre1{
    color: rgb(247, 189, 43);
}
.Ab_us_pre1{
    font-size: 20px;
}
.Abo_us_div1{
    border: rgb(236, 217, 203) 2px solid;
    padding: 25px;
    margin: 80px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(27, 24, 7, 0.815);
}
.abo_us_h1,.ho_p{
    color: rgb(247, 189, 43);

}
.home_pre{
    font-size: 25px;
}
video{
    height: 500px;
    margin-left:40%;
}
.home_div{
    border: rgb(236, 217, 203) 2px solid;
    padding: 10px;
    padding-left: -20000px;
    margin: 80px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(65, 34, 24, 0.815);
}
table{
    background-color: rgba(9, 10, 83, 0.815);

}
 .cr_div_t{
    border: rgb(236, 217, 203) 2px solid;
    padding: 10px;
    padding-left: -20000px;
    margin: 80px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(56, 18, 100, 0.815);
}
.tam{
    color: rgb(247, 189, 43);

}
.cr_fo{
    width: 25%;
    font-size: 35px;
    text-align: center;
    margin: 50px;
    color: rgb(247, 189, 43);
    border: lightcyan;
    border: 1px solid;
    margin-left: 37%;
}